html {
  box-sizing: border-box;
  font-size: 62.5%;
}

html.dark {
  background-color: #aa0707;
}

.dark .nav-links a {
  color: rgb(0, 28, 28);
}

body {
  /* color: rgb(255, 255, 255); */
  font-size: 2rem;
  line-height: 1.5;
  /* background-color: rgb(28, 28, 28); */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

/********** Components **********/
.header_menu {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #474747;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  border-radius: 1rem;
  background-color: #f3f3f3;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  padding: 10px 0;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  transition: all 0.3s ease-out;
}

.nav-links a:hover,
.nav-links a:focus {
  color: #474747;
  background-color: #cbcbcb;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
/**********  **********/
.container {
  max-width: 80%;
  margin: 0 auto;
  /* border: 2px solid saddlebrown; */
}

.img {
  width: 80%;
  height: auto;
  margin: 1.8rem auto;
}

/********** Styles **********/

.menu {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 4rem;

  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2rem;
  }
}

.title {
  padding-top: 2.4rem;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 2px;
}
