---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
import CardImage from "../components/CardImage.astro";
const titlePage = "Home";
---

<BaseLayout titlePage={titlePage}>
  <h2 class="title hi">Hi ðŸ‘‹!</h2>

  <Greeting
    client:load
    messages={[
      "Hi ðŸ˜",
      "Welcome To My Website âœŒï¸ðŸ‘‹!!!",
      "Hi Visitor and welcome to my webSite ðŸ˜‚ðŸ‘‹ðŸ˜Š!!!",
      "Hola ðŸ˜‚ðŸ‘‹ðŸ˜Š!!!",
      "Hola Bienvenido a mi sitio web ðŸ˜‚ðŸ‘‹ðŸ˜Š!!!",
      "Hola este es mi sitio webðŸ˜‚ðŸ‘‹ðŸ˜Š!!!",
      "Hola que gusto que estes aqui ðŸ˜‚ðŸ‘‹ðŸ˜Š!!!",
    ]}
  />
  <section>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet explicabo
      rerum velit maiores, magnam vel. Voluptatem debitis nobis maiores quidem
      dignissimos deserunt velit, tenetur magnam ad perspiciatis doloremque,
      mollitia vel? Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Ullam vitae ad possimus asperiores, nobis fugiat corrupti explicabo,
      necessitatibus minus modi temporibus iure! Officia autem repellat
      consequuntur ipsum inventore minima molestias. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Labore nemo quo, minus fugit nobis odit,
      reiciendis nulla pariatur quam reprehenderit qui sapiente dicta, aperiam
      est totam nam corrupti aliquid rem.
    </p>
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
      consectetur! Pariatur, ab omnis? Recusandae, impedit. Provident sint
      dolorem earum, nobis quas molestias suscipit commodi, vero rem odio sit
      animi voluptate. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Vero laborum accusantium vel, incidunt dolore distinctio fuga, atque alias
      illo fugiat minima doloremque error animi magni neque nobis. Itaque, quasi
      tempore?
    </p>

    <CardImage
      imgPath="/src/assets/carretera.jpg"
      altText="Carretera"
      name="Carretera"
    />

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis odit
      repellendus deserunt iste consectetur optio perferendis nulla praesentium
      autem corrupti totam minima animi, iusto nostrum eligendi accusamus dolore
      placeat magni!
    </p>
  </section>
</BaseLayout>

<style>
  .hi {
    font-size: 10rem;
    color: rebeccapurple;
  }
</style>
