---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<header class="header_menu">
  <div class="container">
    <Hamburger />
    <Navigation />
  </div>
</header>
